<html>
<h3>Add new cat:</h3>
{{#each foo}}
{{this}}
{{/each}}
<form id="addcat" action="/cats" method="post">
    Name: <input type="text" name="name"><br>
    Birthday: <input type="date" name="birthday"><br>
    Sex:
    <input type="radio" name="sex" value="M"> Male
    <input type="radio" name="sex" value="F"> Female<br>
    Breed:  <select name="breed">
        {{#each cat_breed}}
        <option value="{{cat_breed_Id}}">{{cat_breed_name}}</option>
        {{/each}}
    </select><br>
    Weight: <input type="text" name="weight"><br>
    Availability:
    <input type="radio" name="availability" value="Y"> Available
    <input type="radio" name="availability" value="N"> Not Available<br>
    Adoption Fee: <input type="text" name="adoption_fee"><br>
    <input type="submit" value="Submit">
</form>
<br />

<h3>Current cats:</h3>
<table>
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Birthday</th>
    <th>Sex</th>
    <th>Breed</th>
    <th>Weight</th>
    <th>Availability</th>
    <th>Adoption Fee</th>
    </thead>
    <tbody>
        {{#each people}}
        <tr>
            <td>{{pet_Id}}</td>
            <td>{{name}}</td>
            <td>{{birthday}}</td>
            <td>{{sex}}</td>
            <td>{{breed}}</td>
            <td>{{weight}}</td>
            <td>{{availability}}</td>
            <td>{{adoption_fee}}</td>
            <td><a href="/cats/{{pet_Id}}">Update</a></td>
            <td><button onclick="deleteCat({{pet_Id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</html>