<html>
<h3>Add new donor:</h3>
{{#each foo}}
{{this}}
{{/each}}
<form id="adddonor" action="/donors" method="post">
    First Name: <input type="text" name="first_name"><br>
	Last Name: <input type="text" name="last_name"><br>
    Address: <input type="text" name="address"><br>
    Phone Number: <input type="text" name="phone_number"><br>
	E-mail: <input type="text" name="email"><br>    
    <input type="submit" value="Submit">
</form>
<br />

<h3>Current donors:</h3>
<table>
    <thead>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>E-Mail</th>
    </thead>
    <tbody>
        {{#each donors}}
        <tr>
            <td>{{donor_Id}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{address}}</td>
            <td>{{phone_number}}</td>
            <td>{{email}}</td>
            <td><a href="/donors/{{donor_Id}}">Update</a></td>
            <td><button onclick="deleteDonor({{donor_Id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</html>