<html>
<h1>Update {{cat.name}}:</h1>
<form id="update-cat" action="/cats" method="post">
    Name: <input type="text" name="name" value="{{cat.name}}"><br>
    Birthday: <input type="date" name="birthday" value="{{cat.birthday}}"><br>
	Sex:
    <input type="radio" name="sex" value="M"> Male
    <input type="radio" name="sex" value="F"> Female<br>
    Breed:  <select name="breed"  id="breed-selector">
        {{#each cat_breed}}
        <option value="{{cat_breed_Id}}">{{cat_breed_name}}</option>
        {{/each}}
    </select><br>
	Weight: <input type="text" name="weight"><br>
    Availability:
    <input type="radio" name="availability" value="Y"> Available
    <input type="radio" name="availability" value="N"> Not Available<br>
    Adoption Fee: <input type="text" name="adoption_fee" value="{{cat.adoption_fee}}"><br>

</form>
<button onclick="updateCat({{cat.id}})">Update</button>
<script defer>selectBreed({{cat.breed}});</script>
</html>